<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.handheld.huang.handsettest"
    android:sharedUserId="android.uid.system" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/FulScreenTheme" >
        <activity
            android:name=".activity.PingActivity"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden"
            android:excludeFromRecents="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.BarcodeActivity"
            android:exported="true" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.Serial13TestActivity"
            android:exported="false" >
        </activity>
        <activity
            android:name=".activity.ItemTestActivity"
            android:exported="true" />
        <activity android:name=".activity.FlashlightActivity" >
        </activity>
        <activity android:name=".activity.DbmActivity" />
        <activity android:name=".activity.SensorTestActivity" >
        </activity>
        <activity android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <data
                    android:host="authactivity"
                    android:scheme="com.hand.ht" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DisplayTestActivity" />
        <activity android:name=".activity.TouchTestActivity" />
        <activity android:name=".activity.LedTestActivity" />
        <activity android:name=".activity.KeyTestActivity" />
        <activity android:name=".activity.BasicTestActivity" />
        <activity android:name=".activity.MacTestActivity" />
        <activity android:name=".activity.ImeiTestActivity" />
        <activity android:name=".activity.CommunicationTestActivity" />
        <activity android:name=".activity.IndicatorTestActivity" >
        </activity>
        <activity android:name=".activity.ElectricityTestActivity" />
        <activity android:name=".activity.GpsTestActivity" />
        <activity android:name=".activity.TestConclusionActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".MyReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />

                <data
                    android:host="99999"
                    android:scheme="android_secret_code" />

                <data
                    android:host="666"
                    android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".EmBootupReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.UsbActivity" />
        <activity android:name=".activity.ChargerActivity" />
        <activity android:name=".activity.FacadeTestActivity" />
        <activity android:name=".activity.DeviceInfoActivity" />
        <activity android:name=".activity.DeviceInfoDetailsActivity" />
    </application>

</manifest>